extends layout

block content
  h1= title

  div.container-fluid
    div.row

       - let hats = [{ hat_style: "Fedora",hat_color: "red", hat_price: 10.9},{hat_style: "Baseball Cap",hat_color: "white",hat_price: 13.89},{hat_style: "Top Hat",hat_color: "black",hat_price: 14.9}];
         each hat in hats
            div.col-sm-2
               p Style: #{hat.hat_style}
               p Size: #{hat.hat_color}
               p Color: $#{hat.hat_price}


